.search {
  margin: 20px;
}

.inputbar {
  width: 300px;
  margin-right: 5px;
}

.buttonInSearch {
  width: 65px;
}

.list {
}

.listItem {
  margin: 20px;
}

.weather {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 5px;
}

.map {
  height: 300px;
  width: 375px; 
}